body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d2cfcf;
    text-decoration: none;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: large;
}

.container {
    width: 200px;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 60px;
}

label {
    display: block;
    font-weight: bold;
}

.form {
    width: 400px;
    height: 800px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-size: 22px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 26px;
    transition: background-color 0.3s ease;
    margin-left: 42.5%;
    margin-top: 10px;

}

button:hover {
    background-color: #494848;
}

/* Resetowanie domyślnych stylów */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    font-size: 22px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}

/* Styl po najechaniu */
select:hover {
    border-color: #999;
}

/* Styl aktywnego pola */
select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
}

/* Dostosowanie strzałki rozwijania dla przeglądarek Chrome i Safari */
select::-ms-expand {
    display: none;
}

/* Styl strzałki rozwijania */
select:after {
    font-size: 14px;
    color: #070707;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}
