<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj artystę</title>
    <link rel="stylesheet" href="/stylesForm.css">

</head>
<body>
<header>
    <h1 th:text="${album.get().getName()}" style="font-size: xxx-large"></h1>
    <h3 th:text="${'Cena: ' + album.get().getPrice()}" style="font-size: x-large"></h3>

</header>

<form th:action="@{/app/add-song(id=${latestID})}" method="post">

    <div class="form-group">
        <label><h2>Piosenki:</h2></label>
        <select name="songName">
            <option th:each="song : ${allSongs}" th:value="${song.getId()}" th:text="${song.getName()}"/>
        </select><br/>
        <br/>
    </div>

    <div class="form-group">
        <label><h2>Artyści:</h2></label>
        <select name="selectedValues" multiple="multiple">
            <option th:each="artist : ${allArtist}" th:value="${artist.getId()}"
                    th:text="${artist.getName() + ' ' + artist.getSurname()}"></option>
        </select><br/>
    </div>

    <button th:href="@{/app/add-song(id=${latestID})}" method="post">Dodaj piosenkę wraz z artystami</button>

    <button th:href="@{/app/oferta}">Dodaj album</button>
</form>
</body>
</html>

