<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wydawnictwo Muzyczne</title>

</head>
<body>
<header style="font-size: x-large; text-align: left">
    <span><h1> Wydawnictwo Muzyczne</h1></span>
</header>

<div class="container">
    <a href="/app/add-artist">
        <div class="centered">
            Artysta
        </div>
    </a>
    <br>
        <div></div>

    </br>

    <a href="/app/add-album">
        <div class="centered">
            Album
        </div>
    </a>
    <br>
    <div></div>

    </br>
    <a href="/app/offer">
        <div class="centered">
            Oferta wydawnictwa
        </div>
    </a>
</div>

</body>
</html>