<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Albumów</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <span><h1 style="font-size: xxx-large">&#127932 Lista Albumów</h1></span>
</header>
<div class="linksOferta">
    <a href="/app/add-artist">
        <div class="link">Dodaj artystę</div>
    </a>
    <a href="/app/add-album">
        <div class="link">Dodaj album</div>
    </a>
</div>

<section class="album-list">

    <h1 style="text-align: center; font-size: xxx-large">Albumy w ofercie:</h1>
    <ul>
        <li th:each="album : ${albums}">
            <div class="album">
                <h3 th:text="${album.getName()}"></h3>
                <p th:text="'Sugerowana cena: ' + ${album.getPrice()} + ' PLN'"></p>
                <p th:text="'Ilość piosenek: ' + ${album.getSongs().size()}"></p>
            </div>
            <div class="album" style="float: right;">
                <a th:href="@{/app/details(id=${album.id})}">Podgląd</a>
            </div>
        </li>
    </ul>
</section>

</body>
</html>